.name{ font-size: medium;
font:sans-serif 
text-align: center 
text-color: black };

.bio{
  font-size: small
  font: sans-serif
  text-align: center
};

.Linkedin-and-Email{
  font:sans-serif
  font-size: smaller;
}
;
.skills{
  font: sans-serif
  font-size: smaller
};
.experience{
  font: sans-serif
  font-size: smaller
};
.education{
  font: sans-serif
  font-size: smaller
}

body{
  backround-color: white 
}